node_modules
.DS_Store
*.log
.idea
dist
bundle
/**/dist
*.tgz
build
test
.rpt2_cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/coverage
/reports
.scannerwork

.idea
